<div (click)="selected()"
     [ngClass]="{
        'flipped':flipped||paired,
        'paired':paired
     }"
     class="memory-card"
>

  <div class="overlay">
    <div class="shadow"></div>
  </div>

  <div class="content" [ngStyle]="{
          'background-image':'url(assets/flags/' + card + '.svg?IF_YOU_READ_THIS_YOU_ARE_A_CHEATER_HAHAHAHAHAHAHA)'
         }">
    <div class="shadow"></div>
    <h3 *ngIf="wasVisible || flipped || paired">{{toLabel(card.toLowerCase())}}</h3>
  </div>
</div>

