@import "../../template/colors";
@import "../../template/durations";
@import "../../template/breakpoints";

$dimension-card-width: 275px;
$dimension-card-height: 275px;

:host {
  display: block;
  overflow: visible;

  > div {
    transition: transform $duration-fast;

    @media screen and(max-width: $xsmall) {
      transform: scale(1.0);
    }

    @media screen and(min-width: 544px) {
      transform: scale(0.8);
    }

    @media screen and(min-width: $small) {
      transform: scale(0.9);
    }

    @media screen and(min-width: $medium) {
      transform: scale(0.8);
    }

    @media screen and(min-width: 800px) {
      transform: scale(0.9);
    }

    @media screen and(min-width: $large) {
      transform: scale(0.8);
    }

    @media screen and(min-width: $xlarge) {
      transform: scale(0.7);
    }

    @media screen and(min-width: 1400px) {
      transform: scale(0.8);
    }

    @media screen and(min-width: 1600px) {
      transform: scale(0.9);
    }
  }
}

div.card {
  // FIXME Bug in bootsrap 4
  // https://github.com/twbs/bootstrap/issues/20654
  display: inline-block;
  width: $dimension-card-width;
  height: $dimension-card-height;
  // FIXME END
  cursor: pointer;

  border-radius: 5px;
  position: relative;
  border: none;
  background-color: $color-theme-brightest;

  div.content, div.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    //-moz-transform-style: preserve-3d;
    //-webkit-transform-style: preserve-3d;
    //transform-style: preserve-3d;

    -moz-transition: transform $duration-normal cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: transform $duration-normal cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform $duration-normal cubic-bezier(0.68, -0.55, 0.265, 1.55);
    backface-visibility: hidden;

    box-shadow: -1px -1px 6px #000;
    background-color: $color-theme-brightest;
  }

  div.content {
    transform: rotateY(180deg);
    z-index: 2;
    .card-header {
      -webkit-transition-delay: 2s;
      transition-delay: 2s;
      transition: background-color $duration-smooth, color $duration-smooth;
      color: darken($color-theme-darkest, 30%);
      background-color: $color-theme-brightest;

      font-size: 2rem;
      text-transform: capitalize;
      text-align: center;
      padding-top: 8px;
    }

    .card-block {
      height: $dimension-card-height - 55;
      margin-top: -10px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(assets/flags/EUROPE.svg);
      background-size: 10%;
    }
  }

  .overlay {
    transform: rotateY(0deg);
    z-index: 1;
    background-image: url(assets/flags/EUROPE.svg);
    background-size: cover;
    background-position: -70px center;
    background-repeat: no-repeat;
  }

  &.flipped {

    div.content {
      transform: rotateY(0deg);
    }

    div.overlay {
      transform: rotateY(180deg);
    }
  }

  &.paired {
    cursor: default;

    .content {
      .card-header {
        color: $color-theme-brightest;
        background-color: $color-theme-darkest;
      }
    }

  }
}
