// Branding ;)
$color-europe-blue: #009;
$color-europe-gold: #fc0;





$color-theme-brightest:#fffad5;
$color-theme-bright:#ffd34e;
$color-theme-normal:#db9e36;
$color-theme-dark:#bd4932;
$color-theme-darkest:#105b63;
