@import "../../template/colors";

h1, h2, h3 {
  color: $color-theme-darkest;
}

.level {

}

.memory {
  columns: 1;


  @media screen and(min-width: 570px) {
    columns:2;
  }

  @media screen and(min-width: 800px) {
    columns:3;
  }

  @media screen and(min-width: 1115px) {
    columns:4;
  }

  @media screen and(min-width: 1400px) {
    columns:5;
  }
}

.btn {
  z-index: 1000;
  cursor: pointer;
  position: fixed;
  bottom: 1px;
  right: 0px;
}
