@import "../../template/breakpoints";
@import "../../template/colors";

h1, h2, h3 {
  color: $color-theme-darkest;
}

.level {
  h2 {
    margin-top: 30px;

    @media screen and(min-width: $medium) {
      margin-top: 10px;
    }
  }

  h6 {
    margin-bottom: 20px;
    //margin-top: 200px;

    @media screen and(min-width: $medium) {
      margin-top: 60px;
      margin-bottom: 40px;
    }
  }
}

.memory {
  //columns: 1;
  padding-bottom: 60px;
  @media screen and(min-width: 570px) {
    //columns: 2;
  }

  @media screen and(min-width: 800px) {
    //columns: 3;
  }

  @media screen and(min-width: 1115px) {
    //columns: 4;
  }

  @media screen and(min-width: 1400px) {
    //columns: 5;
  }
}

.btn {
  z-index: 10;
  cursor: pointer;
  position: fixed;
  bottom: 0px;
  right: 0px;
  &.leave {

  }

  &.cancel {
    bottom: 0px;
    right: 0px;
    width: 50%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-radius: 0;
  }

  &.exit {
    bottom: 0px;
    left: 0px;
    width: 50%;
    border-radius: 0;

  }
}
