<div *ngIf="cards.length===0" class="container">

  <div class="level col-sm-12 text-xs-center">
    <h2>The Game</h2>
    <h6>-Select your level-</h6>

    <pagination
      [directionLinks]="false"
      [totalItems]="levels.length"
      [itemsPerPage]="1"
      [(ngModel)]="defaultLevel"
      (pageChanged)="setLevel($event)"
    ></pagination>

  </div>

  <div class="col-lg-12">
    <button (click)="start()"
            type="button"
            class="btn btn-info btn-lg btn-block"
    >
      Start Memory Game
    </button>
  </div>

</div>


<div *ngIf="cards.length>0" class="memory clearfix">

  <app-memory-card
    *ngFor="let card of cards;let i = index"
    [ngStyle]="{'transform':'rotate('+rotations[card]+'deg)'}"
    (selection)="doSelection($event)"
    [card]="card"
    [paired]="pairs.indexOf(card)!==-1"
    [flipped]="(selection.indexOf(card)!==-1)"
    class=""></app-memory-card>

  <button *ngIf="!confirm"
          (click)="leave()"
          type="button"
          class="leave btn btn-primary btn-lg btn-block"
  >
    Leave Game
  </button>

  <button *ngIf="confirm"
          (click)="exit()"
          type="button"
          class="exit btn btn-danger btn-lg btn-block"
  >
    Ok
  </button>
  <button *ngIf="confirm"
          (click)="cancel()"
          type="button"
          class="cancel btn btn-success btn-lg btn-block"
  >
    Cancel
  </button>
</div>
