@import "template/typography";
@import "template/loader";
@import "template/breakpoints";

body {
  background-color: #222;
  padding-bottom: 60px;

  p.loading {
    color:darken($color-theme-darkest,10%);
    transform: scale(0.75);
    margin-top: -50px;
  }
}
